:root {
  color-scheme: dark light;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: #0f172a;
  color: #f8fafc;
  height: 100%;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}
